<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDF_Process.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PDF_Process.Properties.Settings>
            <setting name="wordUrl" serializeAs="String">
                <value>C:\Users\86159\Desktop\新建 DOC 文档.doc</value>
            </setting>
            <setting name="oldValue" serializeAs="String">
                <value>name#cardid#mobile</value>
            </setting>
            <setting name="newValue" serializeAs="String">
                <value>陈翔#440902199507283711#15913147808</value>
            </setting>
        </PDF_Process.Properties.Settings>
    </userSettings>
</configuration>