<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HttpPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HttpPost.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>http://gzsdkj.top</value>
            </setting>
            <setting name="projectCode" serializeAs="String">
                <value>1001</value>
            </setting>
            <setting name="Apartdata" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="toOrg" serializeAs="String">
                <value>91440101793479487D</value>
            </setting>
            <setting name="busId" serializeAs="String">
                <value>1001B2C</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>陈翔宇</value>
            </setting>
            <setting name="userCarid" serializeAs="String">
                <value>440902199507283711</value>
            </setting>
            <setting name="userMobile" serializeAs="String">
                <value>15913147808</value>
            </setting>
            <setting name="busFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Api" serializeAs="String">
                <value>/api/sign/ws/push</value>
            </setting>
        </HttpPost.Properties.Settings>
    </userSettings>
</configuration>